body {padding: 0; margin: 0; max-width: 1920px;}

/*
fonts.
font-family: 'Dosis', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/


/* Navbar */

.nav-link {
    color: #FFFFFF !important;
    font-size: 16px;
}

.navbar-text-align {
    display: flex;
    justify-content: center;
}

.nav-text-drop
{
    gap: 2rem;
    align-items: flex-end;
}

.nav-text
{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.box:hover {
    border: 2px solid rgba(0,160,80,0);
    color: #FFF;
  }

.navbar-background {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    max-height: 120px;
    /* UI Properties */
    background: #000324 0% 0% no-repeat padding-box;
    opacity: 1;
    
}


/*Pool Header*/

.container-text {
    position: relative;
    display: flex;
}

.pool-txt-hover {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 945px;
    height: 232px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.pool-bg-color {
    background: #000324 0% 0% no-repeat padding-box;
    opacity: 0.8;
}

.pool-image {
    min-width: 1920px;
    height: 500px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.hover-pool {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.image-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wrapper {
    position: relative;
}

.hover-pool {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hover {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pool-text {

    color: white;
}

.pool-text-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pool-text-1 {
    font-size: 45px;
    font-family: 'Dosis', sans-serif;
}

.pool-text-2 {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}


/* welcome to */

.hamster-border
{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 753px;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.hamster-flex-middle{display: flex; justify-content: center; align-content: center;}
.hamster-flex{display: flex; flex-direction: row;}
.hamster-text {font-size: 16px; font-family: 'Source Sans Pro', sans-serif;}
.hamster-title {font-size: 35px; font-family: 'Dosis', sans-serif;}
.wel-pic-mouse-chillen {margin-top: 5rem; margin-bottom: 5rem;}
.wel-pic-finest {width: 200px; height: 153px;}
.wel-pic-cert {width: 200px; height: 193px;}
.wel-pic-gen {width: 200px; height: 175px;}
.flex-icons {justify-content: space-between;}

/* testimonial grid */

.testimonial-grid {
    display: grid;
    gap: 0;
    grid-template-columns: 25% 25% 25%;
}

.testimonial-flex-items {
    border: 1px solid #333;
    background-color: whitesmoke;
}


.card-title {
    font-size: 25px;
    font: normal normal normal 25px/32px Dosis;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    margin: 0.5rem;
}

.room-size-text {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    /* font: normal normal normal 16px/20px Source Sans Pro; */
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    margin: 0.5rem;
}

.card-text {
    font-size: 16px;
    margin: 0.5rem;
}

.even-columns {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.card-align {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card-1 {
    top: 1339px;
    left: 383px;
    width: 369px;
    height: 522px;
    background-color: #FFFFFF;
}

.card-2 {
    top: 1339px;
    left: 766px;
    width: 369px;
    height: 522px;
    background-color: #FFFFFF;
}

.card-3 {
    top: 1339px;
    left: 1149px;
    width: 369px;
    height: 522px;
    background-color: #FFFFFF;
}

.card-button {
    margin: 0.5rem;
}

.card-bg {
    top: 1235px;
    left: 0px;
    width: 1920px;
    height: 738px;
    /* UI Properties */
    opacity: 1;
}



/* box layout */

.col-layout {
    width: 561px;
    height: 234px;
}

.container-packages {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
}

.package-margin {
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
}

.package-header {font-size: 35px; font-family: 'Dosis', sans-serif;}

.package-text-title {
    font-size: 25px;
    font-family: Dosis;
}

.package-text-price {
    font-size: 16px;
    color: #1F51A8;
    font-family: Source Sans Pro;
}

.package-text-body {
    font-size: 16px;
    font-family: Source Sans Pro;
}

.col-text-margin {
    margin-left: 1rem;

}

.col-text-body {
    margin-top: 1rem;
}



/* AMENITIES */

.amen-bg {
    top: 2942px;
    left: 0px;
    width: 1920px;
    height: 548px;
    /* UI Properties */
    opacity: 1;
}

.amen-icons {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-content: center;
}

.amen-title {
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.amen-info {

    text-align: center;
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.amen-description {
    /* Layout Properties */
    top: 3296px;
    left: 706px;
    width: 228px;
    height: 25px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 20px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: flex;

    justify-content: center;
    justify-content: space-between;
}

.amen-24hour-text {
    /* Layout Properties */
    top: 3296px;
    left: 706px;
    width: 228px;
    height: 25px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 20px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.amen-combreak-text {
    /* Layout Properties */
    top: 3296px;
    left: 706px;
    width: 228px;
    height: 25px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 20px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.amen-valet-text {
    /* Layout Properties */
    top: 3296px;
    left: 1047px;
    width: 118px;
    height: 25px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 20px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.amen-pool-text {
    /* Layout Properties */
    top: 3296px;
    left: 1325px;
    width: 134px;
    height: 25px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 20px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.reserve-window {
    width: 1137px;
    height: 207px;
}

.reserve-flex
{
    display: flex;
    justify-content: center;
}

.reserve-room-bg
{
    background: #000324;
    opacity: 1;
    width: 1137px;
    height: 207px;
    color: white;
}

.mouse-image-size
{
    width: 1137px;
    max-width: 1137px;
    height: 414px;
}

.res-contain
{
    display: flex;
    justify-content: center;
}

.button-margin
{
    margin-top: 19px;
}

.reserve-title
{
    margin-top: 1rem;
}


/* Layout Properties */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* top: 4312px;
    left: 0px; */
    min-width: 1920px;
    height: 300px;
    /* UI Properties */
    background: #000324 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    gap: 1rem;
}












/* Footer */